<div class="card-wrapper">
    <div class="d-flex fd-column rows-gap">
        <div class="d-flex fd-row first-row">
            <img class="profile-img" src="assets/images/profile.jpg" />
            <div class="d-flex fd-column jc-center details">
                <div class="d-flex ai-center personal-detail">
                    <div class="ion-ic"><ion-icon name="person-outline"></ion-icon></div>
                    <p>Sepehr Azizi (Front-End Developer)</p>
                </div>
                <div class="d-flex ai-center personal-detail">
                    <div class="ion-ic"><ion-icon name="mail-outline"></ion-icon></div>
                    <div class="hidden-item">
                        <p style="width: 220px;">{{email}}</p>
                        <div style="width: 8px;"></div>
                        <ion-icon (click)="showEmail = !showEmail" [name]="showEmail ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                        <div style="width: 8px;"></div>
                        <ion-icon (click)="openEmail()" name="open-outline"></ion-icon>
                    </div>
                </div>
                <div class="d-flex ai-center personal-detail">
                    <div class="ion-ic"><ion-icon name="call-outline"></ion-icon></div>
                    <div class="hidden-item">
                        <p style="width: 220px;">{{phone}}</p>
                        <div style="width: 8px;"></div>
                        <ion-icon (click)="showPhoneNumber = !showPhoneNumber" [name]="showPhoneNumber ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                        <div style="width: 8px;"></div>
                        <ion-icon (click)="openPhoneNumber()" name="open-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <button class="primary-btn"><ion-icon name="logo-bitcoin"></ion-icon>Donate</button>
    </div>
</div>