:host {
    height: 100vh;
    display: flex;
}
.card-wrapper {
    background-color: rgba(255, 255, 255, 0.064);
    border-radius: 22px;
    padding: 16px;
    max-height: 80vh;
    margin: auto;

    .first-row {
        gap: 22px;
    }

    .details {
        gap: 12px;
    }

    .rows-gap {
        gap: 22px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 16px;
    }

    .ion-ic {
        padding: 8px;
        border-radius: 8px;
        color: white;
        background-color: rgba(255, 255, 255, 0.165);
        width: 22px;
        height: 22px;

        ion-icon {
            font-size: 22px;
        }
    }

    .personal-detail {
        gap: 8px;
        color: white;

        p {
            font-size: 18px;
            margin: 0;
        }

        .name {
            font-size: 26px;
        }

        .hidden-item {
            display: flex;
            gap: 4px;
            padding: 8px;
            border-radius: 8px;
            color: white;
            // background-color: rgba(255, 255, 255, 0.165);

            ion-icon {
                font-size: 22px;
                cursor: pointer;
            }
        }
    }

    .primary-btn {
        box-shadow: none !important;
        border: none !important;
        border-radius: 16px;
        height: 60px;
        background-color: white;
        color: black;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        position: relative;

        ion-icon {
            position: absolute;
            left: 16px;
            margin-top: 1px;
        }
    }
}